@font-face {
	font-family: "Bebas";
	src: url("../fonts/bebas.ttf") format("truetype");
	src: url('../fonts/bebas-webfont.eot');
	src: url('../fonts/bebas-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebas-webfont.woff2') format('woff2'),
	url('../fonts/bebas-webfont.woff') format('woff'),
	url('../fonts/bebas-webfont.ttf') format('truetype'),
	url('../fonts/bebas-webfont.svg#bebasregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'Helvetica Neue Light';
	src: url('../fonts/helveticaneuecyr-light-webfont.eot');
	src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
	url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype'),
	url('../fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Neue Light Italic';
	src: url('../fonts/helveticaneuecyr-lightitalic-webfont.eot');
	src: url('../fonts/helveticaneuecyr-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
	url('../fonts/helveticaneuecyr-lightitalic-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-lightitalic-webfont.ttf') format('truetype'),
	url('../fonts/helveticaneuecyr-lightitalic-webfont.svg#helveticaneuecyrlight_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'Helvetica Neue Roman';
	src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
	src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
	url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
	url('../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'svgfont';
	src: url('../fonts/ico-webfont.eot');
	src: url('../fonts/ico-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ico-webfont.woff2') format('woff2'),
	url('../fonts/ico-webfont.woff') format('woff'),
	url('../fonts/ico-webfont.ttf') format('truetype'),
	url('../fonts/ico-webfont.svg#svgfont_1regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.font {
	display: inline-block;
	font: normal normal normal 22px/1 "svgfont";
	font-size: inherit;
	font-style: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	font-size: 34px;
	color: #e8663c;
	float: left;
	height: 46px;
	line-height: 46px;
	padding-right: 37px;
}
.font.font-cogwheel:before {
	content: "a";
}
.font.font-check:before {
	content: "c";
}
.font.font-person:before {
	content: "b";
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: url("../img/bgi.png") repeat;
}
a {
	text-decoration: none;
}
p {
	font: 12px/1.2 "Helvetica Neue Roman", Arial, sans-serif;
	line-height: 18px;
}
h1, h2, h3, h4, h5, h6, a {
	font-family: 'Bebas', sans-serif;
	word-spacing: 3px;
}
h1, h2 {
	margin: 0;
	line-height: 20px;
}
h1 {
	font-size: 12px;
	color: #e8663c;
	margin-bottom: 6px;
}
h2 {
	font: 12px/1.2 "Helvetica Neue Roman", Arial, sans-serif;
	color: #bababa;
	margin-bottom: 10px;
}
h3 {
	text-transform: uppercase;
	font-size: 18px;
	color: #ffffff;
	margin: 0;
	padding: 0 0 10px 0;
}
h4 {
	font-size: 18px;
	color: #e8663c;
	margin: 0;
	line-height: 24px;
}
h5 {
	font-size: 16px;
	color: #b9b9b9;
	margin: 0 0 4px 0;
}
h6 {
	font-size: 24px;
	color: #ffffff;
	height: 61px;
	line-height: 61px;
	margin: 0;
}
.container {
	max-width: 960px;
	background: url("../img/bgi.png") repeat;
	position: relative;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
}
/*---NAVIGATION---*/
.navbar{
	font-family: 'Bebas', sans-serif;
	border: none;
	min-height: 78px;
	position: relative;
	margin-bottom: 0;
}
.navbar:before {
	content:'';
	position: absolute;
	width: 100%;
	top: 100%;
	height: 61px;
	background: rgba(232, 96, 60, 0.50);
	filter: alpha(opacity=50);
}
.navbar .navbar-nav > li > a,
.nav > li > a > span,
.navbar .navbar-brand,
.navbar-brand span,
.categories-list > li > a,
.jt-post-content .pagination > li > a {
	-webkit-transition: color .6s;
	-moz-transition: color .6s;
	-ms-transition: color .6s;
	-o-transition: color .6s;
	transition: color .6s;
}
.navbar .navbar-nav > li > a,
.nav > li > a > span {
	font: 16px 'Bebas', sans-serif;
	color: #cacaca;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav .home,
.navbar .nav .about,
.navbar .nav .blog,
.navbar .nav .portfolio,
.navbar .nav .contact {
	text-decoration: none;
	color: #e8663c;
	background: none;
}
.navbar .navbar-brand {
	padding: 0;
	font-size: 38px;
	line-height: 78px;
	height: 78px;
	color: #e8603c;
}
.navbar-brand span,
.navbar .nav .about span,
.navbar .nav .contact span,
.navbar .navbar-brand:hover,
.navbar .nav > li > a:hover span {
	color:#f2ae9c;
}

.navbar .navbar-brand:hover span {
	color: #e8603c;
}
.navbar .navbar-nav{
	margin-bottom: 0;
}
.navbar .navbar-nav > li{
	line-height: 78px;
}
.navbar .navbar-nav > li > a {
	line-height: 68px;
	padding: 10px 0 0 26px;
	outline: none;
}
.navbar-collapse {
	padding: 0;
}
.navbar .navbar-toggle .icon-bar{
	background: #e8603c;
}
/*---SLIDER---*/
.carousel-caption {
	color:#fff;
	background: rgba(232, 102, 60, 0.8);
	position: absolute;
	left: 35px;
	bottom: 30px;
	padding: 20px 20px 10px 20px;
	max-width: 405px;
	text-align: left;
	text-shadow: none;
}
.carousel-inner .carousel-caption h1{
	font-size: 18px;
}
.carousel-inner .carousel-caption p{
	font-size: 12px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	max-height: 400px;
}
.carousel-control {
	width: 8%;
	opacity: .7;
	filter: alpha(opacity=70);
}
.carousel-control:hover, .carousel-control:focus {
	opacity: .99;
	filter: alpha(opacity=99);
}
.carousel-control.left,
.carousel-control.right{
	background: none;
}
.glyphicon {
	position: absolute;
	top: 39%;
}
.previous {
	position: absolute;
	left: 32%;
}
.next {
	position: absolute;
	right: 32%;
}
/*---CONTENT---*/
.jt-content .row-content {
	text-align: center;
}
.jt-slide-preview a img {
	margin-top: 20px;
}
.jt-content-text .jt-head {
	margin-top: 37px;
	margin-bottom: 35px;
	height: 46px;
	line-height: 46px;
}
.jt-content-text > .row  p {
	padding-right: 23px;
}
.jt-content-text .btn-default,
.jt-content-text .open>.dropdown-toggle.btn-default,
.jt-portfolio-content .navbar-nav>li>a,
.navbar .navbar-nav > li > a,
.navbar .nav > li > a > span,
input[type="submit"],
button {
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	-ms-transition: all .6s;
	-o-transition: all .6s;
	transition: all .6s;
}
.jt-content-text .btn-default,
.jt-content-text .open>.dropdown-toggle.btn-default,
input[type="submit"],
button {
	text-transform: uppercase;
	color: #ffffff;
	background-color: #e8663c;
	border-color: #e8663c;
	margin-top: 8px;
	margin-bottom: 5px;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	border-radius: inherit;
}
.btn-default:hover, .btn-default:focus, .btn-default:active,
.open > .dropdown-toggle .btn-default,
input[type="submit"]:hover, button:hover,
input[type="submit"]:focus, button:focus,
input[type="submit"]:active, button:active,
.btn:hover, .btn:focus, .btn:active,
.btn:active:focus, .btn.active.focus {
	color: #e8663c;
	background-color: #ffffff;
	border-color: #e8663c;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
}
.jt-content .jt-slide-prev-img:hover,
.jt-recent-works .jt-row-home .jt-col-wrap:hover,
.jt-footer .jt-social li a:hover,
.photo-gallery .photo-gallery-img > img:hover {
	transform: scale(1.05);
	cursor: pointer;
}
/*---SECTIONS RECENT WORKS---*/
.jt-recent-works {
	padding-top: 28px;
	padding-bottom: 26px;
}
.jt-recent-name {
	background: url("../img/line1.png") 50% 50% repeat-x;

}
.jt-recent-name > span {
	background: #ffffff;
	padding-right: 10px;
}
.jt-recent-works .img-wrapp {
	border-left: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	padding: 13px 0 12px 11px;
}
.img-wrapp > p {
	font: 11px 'Bebas', sans-serif;
	color: #e8663c;
	margin: 0;
}
.jt-col-wrap {
	margin-top: 22px;
}
.jt-col-wrap a img {
	width: 100%;
}
/*---FOOTER---*/
.jt-footer {
	background: rgba(232, 96, 60, 0.5);
	filter: alpha(opacity=50);
}
.jt-footer .jt-row-footer {
	max-width: 940px;
	background: #e8663c;
	padding: 36px 46px 32px 36px;
	color: #ffffff;
}
.jt-footer .jt-row-footer .foot-row-0 {
	padding-right: 15px;
}
.jt-footer .jt-row-footer .foot-row-1 {
	padding-left: 43px;
	padding-right: 17px;
}
.jt-footer .jt-row-footer .foot-row-2 {
	padding-left: 36px;
}
.jt-footer .jt-row-footer .row h3 {
	padding: 0 0 25px 0;
}
.jt-footer .jt-row-footer span,
.jt-footer .jt-row-footer a {
	font-family: "Helvetica Neue Roman", Arial, sans-serif;
	color: #f3b29d;
	text-transform: lowercase;
}
.jt-footer .jt-social {
	padding: 0;
}
.jt-footer .jt-social li {
	display: inline-block;
	list-style: none;
}
.jt-footer .jt-social a {
	float: left;
	display: inline-block;
	padding: 4px 0 4px 25px;
	margin-right: 1px;
	text-decoration: none;
	color: #444;
	width: 30px;
	height: 30px;
	background-image: url('../img/social.png');
}
.jt-social .fb {background-position: 0 0;}
.jt-social .tw {background-position: -25% 0;}
.jt-social .em {background-position: -50% 0;}
.jt-social .rs {background-position: -75% 0;}
.jt-social .vm {background-position: -100% 0;}
/*---------PAGE ABOUT US---------*/
.jt-about-name {
	background: #e8603c;
	height: 61px;
	padding-left: 20px;
	padding-right: 20px;
}
.jt-about-content {
	padding-top: 25px;
	padding-bottom: 20px;
}
.jt-main-container {
	padding-right: 30px;
}
.jt-about-content .jt-letter:first-letter {
	color: #e8603c;
	font-size: 34px;
	float: left;
	line-height: 1;
	padding: 0;
	padding-right: 5px;
	margin: 0;
	font-weight: bold;
}
.jt-about-content .jt-letter {
	padding-top: 5px;
	margin-bottom: 30px;
}
.jt-about-row-marg {
	padding-top: 7px;
	padding-bottom: 18px;
}
.jt-about-content p,
.jt-about-content blockquote {
	margin-bottom: 20px;
	line-height: 18px;
}
.jt-about-content blockquote {
	font-family: 'Helvetica Neue Light Italic';
	padding: 0 0 0 20px;
	margin-left: 50px;
	margin-bottom: 25px;
	font-size: 12px;
	border-left: 10px solid #e8663c;
}
.jt-about-content .jt-mike {
	max-width: 100%;
	margin-bottom: 25px;
	margin-right: 25px;
	-webkit-box-shadow: 0 0 0 1px #cccccc;
	-moz-box-shadow: 0 0 0 1px #cccccc;
	box-shadow: 0 0 0 1px #cccccc;
	border: 2px solid #ffffff;
}
.jt-about-content .alert {
	font-family: 'Helvetica Neue Light Italic';
	padding: 20px 10px;
	min-height: 61px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 19px;
}
.jt-about-content .alert-success {
	background-color: #effeb9;
	border-color: #98c601;
	color: #98c601;
}
.jt-about-content .alert-danger {
	background-color: #fbcbc1;
	border-color: #eb5439;
	color: #eb5439;
}
.jt-about-content .alert-warning {
	 background-color: #ffe9ad;
	 border-color: #fab418;
	 color: #fab418;
}
.jt-about-content .alert-info {
	  background-color: #d1e4f3;
	  border-color: #4d8fcb;
	  color: #4d8fcb;  
}
.jt-aside-container {
	margin-left: 2px;
}
.jt-aside-container h4 {
	font-size: 14px;
	margin-bottom: 9px;
}
.categories-list {
	padding: 0 0 18px 0;
}
.categories-list > li {
	list-style: none;
	line-height: 16px;
}
.categories-list > li > a,
.jt-post-web > a {
	font: 12px "Helvetica Neue Roman", Arial, sans-serif;
	text-decoration: none;
	color: #464646;
}
.categories-list > li > a:hover {
	text-decoration: underline;
	color: #000;
}
.photo-gallery {
	padding-bottom: 10px;
}
.photo-gallery .photo-gallery-img > img {
	max-width: 100%;
	margin-bottom: 20px;
}
/*-----------PAGE BLOG---------*/
.jt-post-content {
	padding-top: 25px;
}
.jt-post-top {
	position: relative;
	margin-bottom: 70px;
}
.jt-post-wordpress:before,
.jt-post-typography:before,
.jt-post-video:before,
.jt-post-quote:before,
.jt-post-web:before {
	content: '';
	position: absolute;
	width: 75px;
	height: 75px;
	left: -12.4%;
}
.jt-post-wordpress:before {
	background:url("../img/container1.jpg");
}
.jt-post-typography:before {
	background:url("../img/container2.jpg");
}
.jt-post-video:before {
	background:url("../img/container3.jpg");
}
.jt-post-quote:before {
	background:url("../img/container4.jpg");
}
.jt-post-web:before {
	background:url("../img/container5.jpg");
}
.jt-post-top:after{
	content: "";
	width: 100%;
	position: absolute;
	height: 15px;
	left: 0;
	right: 0;
	background: url("../img/line1.png") 50% 50% repeat-x;
}
.jt-post-top .item {
	max-height: 300px;
}
.jt-post-top h4 {
	margin-bottom: 18px;
}
.jt-post-top > img {
	width: 100%;
}
.jt-row-post {
	padding: 19px 0;
	padding-bottom: 46px;
}
.jt-post-quote {
	padding-bottom: 1px;
}
.jt-post-quote blockquote {
	padding: 20px 30px 20px 35px;
	background: #f6f6f6;
	border-left: none;
	margin-bottom: 55px;
}
.jt-post-quote blockquote > object {
	position: absolute;
}
.jt-post-quote blockquote > p {
	font-size: 13px;
	margin-left: 40px;
}
.jt-post-web > h4 {
	margin-bottom: 5px;
}
.jt-post-web > a {
	color: #a0a0a0;
}
.jt-post-web > p {
	margin-top: 23px;
	margin-bottom: 50px;
}
.pagination {
	margin-top: 40px;
}
.pagination .active {
	background: #e8603c;
	color: #fff;
	border: none;
	margin-right: 5px;
	border-radius: none;
}
.pagination .disabled {
	background: #f3b29d;
	color: #fff;
	border: none;
	margin-right: 5px;
	border-radius: none;
}
.jt-post-content .pagination > li:first-child > a,
.jt-post-content .pagination > li:first-child > span,
.jt-post-content .pagination > li:last-child > a,
.jt-post-content .pagination > li:last-child > span{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	color: #e8603c;
	outline: none;
}
.pagination > li > a:active,
.pagination > li > span:active {
	background: #e8603c;
	color: #fff;
}
.jt-col-date {
	padding-right: 0;
}
.jt-col-post {
	padding-left: 41px;
}
/*---------PAGE PORTFOLIO--------*/
.jt-portfolio-content {
	padding-top: 32px;
	padding-bottom: 45px;
}
.jt-portfolio-content .navbar-nav {
	margin-bottom: 9px;
}
.jt-portfolio-content .navbar-nav>li>a {
	padding: 10px 11px;
	background: none;
	color: #b9b9b9;
}
.jt-portfolio-content .navbar-nav>li>a:hover,
.jt-portfolio-content .navbar-nav>li>a:focus {
	color: #ffffff;
	background: #e8663c;
}
.jt-portfolio-row {
	padding-bottom: 18px;
}
.jt-portfolio-content .jt-recent-works {
	padding: 0;
}
.jt-portf-hover {
	position: relative;
}
.jt-portf-hover:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: all .3s;
}
.info {
	position: absolute;
	top: 41%;
	left: 49%;
	transform:translate(-50%,-50%);
	opacity: 0;
	transition: all .5s;
}
.jt-portf-hover:hover:before{
	bottom: 0;
}
.jt-portf-hover:hover .info{
	transform: translateX(-50%) scale(1);
	opacity: 1;
}
/*-------PAGE PORTFOLIO ITEMS--------*/
.jt-portf-items > img {
	max-width: 100%;
	margin-top: 25px;
	margin-bottom: 20px;
}
.jt-portf-items p {
	margin-bottom: 20px;
}
.jt-portf-items h4 {
	margin-top: 45px;
}
/*--------PAGE CONTACT US---------*/
.jt-row-conact {
	margin-top: 51px;
	margin-bottom: 17px;
}
.jt-row-conact  p > span {
	color: #e8603c;
}
.jt-form-pl {
	padding-left: 36px;
}
.jt-map {
	padding-right: 25px;
}
.form-horizontal {
	margin-bottom: 10px;
}
.form-horizontal input,
.form-horizontal textarea {
	width: 100%;
}
.form-sm-margr {
	margin-right: 5px;
}
.form-horizontal .jt-form {
	border: 1px solid #e8603c;
	color: #e8603c;
	padding: 5px 13px;
	font: 10px "Bebas",Arial,Helvetica, sans-serif;
	line-height: 2.3;
	margin-bottom: 10px;
}
.form-horizontal .jt-textarea {
	margin-bottom: 0;
}
.form-horizontal button {
	border-radius: inherit;
	font-family: 'Bebas', sans-serif;
}
input[type="text"]::-webkit-input-placeholder{
	color: #e8603c;
}
input[type="text"]::-moz-placeholder {
	color: #e8603c;
}input[type="text"]:-ms-input-placeholder {
	 color: #e8603c;
 }
input[type="email"]::-webkit-input-placeholder {
	color: #e8603c;
}
input[type="email"]::-moz-placeholder {
	color: #e8603c;
}
input[type="email"]:-ms-input-placeholder {
	color: #e8603c;
}
textarea::-webkit-input-placeholder {
	color:#e8603c;
}
textarea::-moz-placeholder {
	color:#e8603c;
}
textarea:-ms-input-placeholder {
	color:#e8603c;
}
/*------@MEDIA---------*/
@media (max-width: 545px) {
	.carousel-caption {
		display: none;
	}
	.jt-about-content blockquote,
	.jt-aside-container {
		margin-left: 0;
	}
}
@media (min-width: 768px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-left: 0;
	}
}
@media (max-width: 767px) {
	.navbar-nav {
		margin: 0;
	}
	.navbar .nav>li>a {
		padding: 0 0 0 10px ;
	}
	.navbar .navbar-nav > li > a {
		line-height: 40px;
		margin: 10px ;
		color: #e8663c;
		background: rgba(232, 102, 60, 0.30);
		filter: alpha(opacity=80);
	}
	.navbar .nav > li > a > span {
		color: #e8663c;
	}
	.navbar .navbar-nav > li > a:hover,
	.navbar .nav > li > a:hover span {
		color: #cacaca;
	}
	.navbar .navbar-brand {
		padding-left: 10px;
	}
	.jt-main-container {
		margin: 0 auto;
	}
	.jt-content-text .btn-default,
	.jt-content-text .open>.dropdown-toggle.btn-default {
		float: right;
	}
	.carousel-caption {
		left: 75px;
	}
	.jt-footer .jt-row-footer .foot-row-0,
	.jt-footer .jt-row-footer .foot-row-1,
	.jt-footer .jt-row-footer .foot-row-2 {
		padding: 20px 0 0 0;
	}
	.jt-form-pl {
		padding-left: 0;
	}
}
@media (max-width: 1130px) {
	.jt-post-wordpress:before,
	.jt-post-typography:before,
	.jt-post-video:before,
	.jt-post-quote:before,
	.jt-post-web:before {
		background: none;
	}
}